<a href="https://colab.research.google.com/github/TiesHRL/Seminar-APG/blob/main/SeminarAPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
if True:
  print("Welcome to the Chat GPT code generator ")

Welcome to the Chat GPT code generator

In [35]:
import numpy as np

def score_based_greedy_search(df):
    dags = []
    for i in len(df):
        n = len(time_series)
        m = len(df.columns)
        # Initialize the DAG with no edges and weights as 0
        dag = np.zeros((n, n))
        # Initialize the scores array
        scores = np.zeros(n)
        # Calculate the scores for each node
        for j in range(0,m):
            for z in range(0, m):
                print(time_series[j],time_series[i])
                delta = df[j][i] - df[j][i]
                if delta > 0:
                    # Add weighting to the edge based on the difference in value
                    dag[i][j] = delta
                    scores[i] += delta
        # Perform the greedy search
        for i in range(n):
            for j in range(i+1, n):
                if scores[j] > scores[i]:
                    dag[i][j] = 1
        dags.append(dag)
    return dags

# Example usage:
# time_series_list = [[1, 2, 1, 3, 4, 5, 6, 7, 8, 9], [2, 3, 2, 5, 6, 7, 8, 9, 10], [1, 2, 3, 4, 5, 6, 7, 8, 9]]
dags = score_based_greedy_search(df)
for i,dag in enumerate(dags):
    print(f"DAG for time series {i+1}")
    print(dag)

TypeError: ignored

In [26]:
import pandas as pd
df = pd.read_excel(r'./../content/simulated_data.xlsx')
df = df.astype('float')
display(df)
dag = score_based_greedy_search(df)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,46,47,48,49
0,0.0,-0.860108,0.929389,-0.614773,0.699878,0.092919,-2.847746,1.443440,-1.145924,-0.039280,...,1.571827,3.870810,-0.983804,-1.693411,3.585075,2.849999,6.366655,1.744795,-1.180238,-1.759473
1,1.0,-2.355401,-0.367373,0.587252,5.472045,1.885324,1.391310,2.767140,2.373315,-0.319615,...,3.806841,-2.119613,-3.400756,-0.278162,-0.718926,-1.723335,4.219207,-0.374696,1.973378,-2.511434
2,2.0,-2.602618,4.254714,3.292624,2.371691,4.319400,6.338168,-0.114630,2.748610,3.153418,...,1.944193,4.189494,-3.199041,-1.756284,-0.419869,3.204020,1.184397,0.884664,0.342573,-5.675259
3,3.0,-1.665891,-2.097306,0.645926,2.904749,-1.568320,3.219842,1.567468,-0.547002,-0.028743,...,1.293222,4.032779,1.510494,-0.791245,0.559941,1.423079,2.737284,1.640516,-0.860875,4.675708
4,4.0,-3.732004,1.709574,1.596870,2.629774,-1.435893,0.954970,-0.155057,-0.802893,1.277219,...,0.646486,3.231736,-0.498873,3.718549,1.214445,0.330450,-0.092388,0.554326,-1.313730,-0.488389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995.0,-3.304582,3.413746,-0.123118,1.168524,-1.055431,0.645922,3.698154,0.925739,-3.266152,...,5.800887,4.602421,-2.266394,-3.860122,-2.428320,-1.500243,-0.812032,2.947774,-1.059456,-0.755993
1996,1996.0,-1.819733,1.325788,3.627808,0.357400,-0.558754,1.696652,0.974456,0.057928,-0.559308,...,2.708556,0.214979,0.490587,3.987040,-3.336511,3.724302,-1.827889,2.971641,1.778720,-1.061392
1997,1997.0,4.722095,2.812046,-0.464759,-1.980543,-1.617490,0.859556,-1.905877,-0.150155,4.004499,...,-1.473321,2.922873,-5.993648,-1.434435,1.456892,-1.807149,1.772013,-0.934857,-1.785097,-6.461335
1998,1998.0,2.376270,-1.161340,2.894667,-0.122936,-0.337600,0.771127,0.439981,1.647375,-2.493387,...,2.242415,1.042242,-0.414782,1.766844,2.634121,0.119381,5.586071,-0.252873,4.824507,3.487915
1999,1999.0,-0.551094,4.259527,4.097251,2.908064,-0.614549,3.299223,-3.633317,-0.061862,1.390621,...,1.987544,1.749521,-2.704129,2.202416,2.398078,-0.860250,-1.429898,0.376608,1.747293,-6.552743

n U

TypeError: ignored

In [29]:
for time_series in df:
        n = len(time_series)
        # Initialize the DAG with no edges and weights as 0
        dag = np.zeros((n, n))
        # Initialize the scores array
        scores = np.zeros(n)
        # Calculate the scores for each node
        for i in range(n):
            for j in range(i+1, n):
                print(time_series[j],time_series[i])
                # delta = time_series[j] - time_series[i]

n U
n U
a U
m U
e U
d U
: U
  U
0 U
n n
a n
m n
e n
d n
: n
  n
0 n
a n
m n
e n
d n
: n
  n
0 n
m a
e a
d a
: a
  a
0 a
e m
d m
: m
  m
0 m
d e
: e
  e
0 e
: d
  d
0 d
  :
0 :
0
0 1
1 1
2 1
3 1
4 1
5 1
6 1
7 1
8 1
9 1
0 2
1 2
2 2
3 2
4 2
5 2
6 2
7 2
8 2
9 2
0 3
1 3
2 3
3 3
4 3
5 3
6 3
7 3
8 3
9 3
0 4
1 4
2 4
3 4
4 4
5 4
6 4
7 4
8 4
9 4

In [34]:
print(n)

2